# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Database files
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and runtime files
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Dataset and uploads
Dataset/*.csv
uploads/*.csv

# Model artifacts
Model/

# Temporary files
*.tmp
*.temp
